{:deps   true
 :builds {:fn-one {:target :node-library
                   :exports-var entrypoints.fn-one/exports
                   :output-dir "fn-one/out"
                   :output-to "fn-one/index.js"
                   :js-options {:js-package-dirs ["fn-one/node_modules"]}
                   :compiler-options {:optimizations :simple
                                      :static-fns true
                                      :source-map "out/fn-one/index.js.map"
                                      :reader-features #{:node}
                                      :fn-invoke-direct true}}

          :fn-two {:target :node-library
                   :exports-var entrypoints.fn-two/exports
                   :output-dir "fn-two/out"
                   :output-to "fn-two/index.js"
                   :js-options {:js-package-dirs ["fn-two/node_modules"]}
                   :compiler-options {:optimizations :simple
                                      :static-fns true
                                      :source-map "out/fn-two/index.js.map"
                                      :reader-features #{:node}
                                      :fn-invoke-direct true}}

          ; less interesting
          ; :scripts   {:target :node-script
          ;             :main scripts.core/-main
          ;             :output-to "scripts/index.js"
          ;             :devtools {:enabled false}
          ;             :compiler-options {:optimizations :simple
          ;                                :static-fns true
          ;                                :source-map "scripts/index.js.map"
          ;                                :reader-features #{:node}
          ;                                :fn-invoke-direct true}}

          }}
