{:source-paths ["src"]
 :builds {:get-nanoid {:target :node-library
                       :exports-var http.get-nanoid/exports
                       :output-dir "out"
                       :output-to "src/http/get-nanoid/index.js"
                       :js-options {:js-package-dirs ["node_modules"]}
                       :compiler-options {:optimizations :simple
                                          :static-fns true
                                          :source-map "out/http/get-nanoid/index.js.map"
                                          :reader-features #{:node}
                                          :fn-invoke-direct true}}

          :get-random {:target :node-library
                       :exports-var http.get-random/exports
                       :output-dir "out"
                       :output-to "src/http/get-random/index.js"
                       :js-options {:js-package-dirs ["node_modules"]}
                       :compiler-options {:optimizations :simple
                                          :static-fns true
                                          :source-map "out/http/get-random/index.js.map"
                                          :reader-features #{:node}
                                          :fn-invoke-direct true}}

          ; :fn-two {:target :node-library
          ;          :exports-var entrypoints.fn-two/exports
          ;          :output-dir "fn-two/out"
          ;          :output-to "fn-two/index.js"
          ;          :js-options {:js-package-dirs ["node_modules"]}
          ;          :compiler-options {:optimizations :simple
          ;                             :static-fns true
          ;                             :source-map "out/fn-two/index.js.map"
          ;                             :reader-features #{:node}
          ;                             :fn-invoke-direct true}}

          ; less interesting
          ; :scripts   {:target :node-script
          ;             :main scripts.core/-main
          ;             :output-to "scripts/index.js"
          ;             :devtools {:enabled false}
          ;             :compiler-options {:optimizations :simple
          ;                                :static-fns true
          ;                                :source-map "scripts/index.js.map"
          ;                                :reader-features #{:node}
          ;                                :fn-invoke-direct true}}

          }}
